@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary: rgb(4, 1, 155);
    --color-dark: rgb(17, 0, 63);
}

body{
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.05rem;
    position: relative;
    transition: 0.5s linear;
}

body.dark{
    background: #060029;
}

img{
    width: 100%;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}


/* dark-mode */
.toggle p{
    position: absolute;
    width: 100px;
    font-size: 11px;
    left: 1%;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 15px;
    line-height: 10px;
    font-style: italic;
}

body.dark .toggle p{
    color: #fff;
}

.label{
    background-color: #0e0157;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    padding: 5px;
    width: 50px;
    position: relative;
    cursor: pointer;
    position: absolute;
    transition: 0.5s linear;
}

body.dark .label{
    background: #fff;
}

.fa-sun{
    color: yellow;
}

.fa-moon{
    color: #fff;
    margin-left: 10px;
}

.ball{
    background: #080258;
    border: 2px solid #fff;
    position: absolute;
    height: 23px;
    width: 23px;
    border-radius: 50%;
    top: 2px;
    left: 1px;
    transition: transform 0.5s linear;
}

body.dark .ball{
    background: #fff;
    border: 2px solid #080258;
}

.checkbox{
    opacity: 0;
    position: absolute;
}

.checkbox:checked + .label .ball{
    transform: translateX(24px);
}


/*  */
.btn{
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    outline: none;
    font-size: 1.05rem;
}

.text{
    opacity: 0.8;
}

.title{
    font-size: 2rem;
    margin-bottom: 1rem;
}

/*   */
.real-wrapper{
    text-align: center;
    background: #fff;
    transition: 0.5s linear;
}

body.dark .real-wrapper{
    background: #060029;
    color: #fff;
}

.real-search{
    margin: 2rem 0;
}

.real-search cite{
    font-size: 1rem;
}

.real-search-box{
    margin: 1.2rem 0;
    display: flex;
    align-items: stretch;
}

.search-content,
.search-btn{
    width: 100%;
}

.real-search-box button img{
    width: 25px;
    height: 25px;
    filter: invert(1);
}

.search-content{
    padding: 0 1rem;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    border: 1px solid var(--primary);
    color: var(--primary);
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.search-content::placeholder{
    color: var(--primary);
    font-style: italic;
}

.search-btn{
    width: 55px;
    height: 55px;
    background: var(--primary);
    border: none;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    transition: all 1s linear;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -o-transition: all 1s linear;
}

.search-btn:hover{
    background: var(--color-dark);
}

.real-result{
    margin-top: 4rem;
}

#real{
    margin: 2.4rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.real-item{
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
    background: rgba(225, 225, 225, 0.2);
    margin: 2rem 0;
}

.real-img img{
    width: 100%;
    display: block;
}

.real-name{
    padding: 1.5rem 0.5rem;
}

.real-name h3{
    font-size: 1.4rem;
}

.recipe-btn{
    text-decoration: none;
    color: #fff;
    background: var(--primary);
    font-weight: 500;
    padding: 0.75rem 0;
    display: block;
    width: 175px;
    margin: 1rem auto;
    border-radius: 2rem;
    transition: all 0.4s linear;
}

.recipe-btn:hover{
    background: var(--color-dark);
}


/* meal-details */
.real-details{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background: var(--color-dark);
    border-radius: 1rem;
    width: 90%;
    height: 90%;
    overflow-y: scroll;
    display: none;
    padding: 2rem 0;
}

.real-details::-webkit-scrollbar{
    width: 10px;
}

.real-details::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 2rem;
}


/* js related */
.showRecipe{
    display: block;
}

.real-details-content{
    margin: 2rem;
}

.real-details-content p{
    padding: 1rem 0;
}

.recipe-close-btn{
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 1.8rem;
    background: #fff;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}

.recipe-title{
    letter-spacing: 1px;
    padding-bottom: 1rem;
}

p.recipe-category{
    background: #fff;
    font-weight: 600;
    color: var(--primary);
    display: inline-block;
    padding: 0.4rem 0.7rem;
    border-radius: 0.3rem;
}

.recipe-instruct{
    padding: 1rem 0;
}

.recipe-meal-img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}

.recipe-link{
    margin: 1.4rem 0;
}

.recipe-link a{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    transition: all 0.4s linear;
}

.recipe-link a:hover{
    opacity: 0.8;
}


/*  */
.notFound{
    grid-template-columns: 1fr !important;
    color: var(--primary);
    font-size: 1.8rem;
    font-weight: 600;
    width: 100%;
    text-transform: capitalize;
}

/* media queries */
@media(max-width: 1280px){
    .toggle p{
        display: none;
    }
}
@media(max-width: 768px){
    .toggle p{
        display: none;
    }

    #real{
        grid-template-columns: repeat(2, 1fr);
    }

    .real-item{
        margin: 0;
    }

    .real-details{
        width: 700px ;
    }
}

@media(max-width: 500px){
    .toggle{
        position: absolute;
        top: 100;
        left: 0;
        margin-left: 15px;
        outline: none;
    }

    .toggle p{
        display: none;
    }

    .title{
        font-size: 1.5rem;
    }

    .quote{
        font-size: 1rem;
    }

    .real-search p{
        font-size: 0.8rem;
        font-style: oblique;
    }

    #real{
        grid-template-columns: 1fr;
    }

    .real-details{
        width: 375px;
    }
}

@media(max-width: 400px){
    .real-details{
        width: 350px;
    }

    .toggle{
        transform: scale(0.9);
    }
}

@media(max-width: 360px){
    .real-details{
        width: 300px;
    }

    .toggle{
        transform: scale(0.7);
        left: 0;
    }

    .title{
        font-size: 1.2rem;
    }

    .quote{
        font-size: 0.8rem;
    }

    
    .real-search p{
        font-size: 0.6rem;
        font-style: oblique;
    }
}
